.container {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:20px;
}
.container > mat-form-field {
    width:40%;
    margin:15px;
}
h2 {width: 100%; text-align: center;}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width:100%;
}

.checkboxes {
    width:90%;
}

.text-area{width:100%;}
.text-area > mat-form-field{
    width:100%;
}