<div class="content">
    <h1>Password Reset</h1>
    <mat-form-field appearance="outline">
        <mat-label>New Password</mat-label>
        <input matInput name="newPassword" required [(ngModel)]="model.Password" [type]="hide ? 'password' : 'text'"/>
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Repeat</mat-label>
        <input matInput name="repeat" required [(ngModel)]="repeatPassword" [type]="hideRepeat ? 'password' : 'text'"/>
        <mat-icon matSuffix (click)="hideRepeat = !hideRepeat">{{hideRepeat ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-hint *ngIf="repeatPassword != model.Password">Passwords must match</mat-hint>
    </mat-form-field>

    <button mat-raised-button color="accent" (click)="AttemptReset()" [disabled]="repeatPassword != model.Password">Reset Password</button>
</div>