.container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #bbb;
    width:600px;
    height:300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container > mat-form-field {
    width:400px;
}
.buttons {
    width:400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}